# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Database
# -----------------------------
data/*.db

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Streamlit Cache
# -----------------------------
.streamlit/secrets.toml

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Test Files
# -----------------------------
test_*.py